<div class="" id="login-page">
    <div class="form-box">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >

            <div class="form-group">
                <label class="form-label">Email: </label> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
                <input type="email" formControlName="email" />
            </div>


            <div class="form-group">
                <label class="form-label">Password: </label>&nbsp;
                <input type="password" formControlName="pssword" />
            </div>


            <input type="submit"  class="btn btn-social" value="LOGIN" />
            <!-- routerLink="/courses" -->
            <!-- <a routerLink="/signup" class="login-action" title="Sign up">
                <p>New User?&nbsp;Signup</p>
            </a> -->
        </form>
    </div>
</div>